@media screen and (max-width: 576px) {
  hr {
    display: none;
  }
  .nav__top {
    display: none;
  }
  .nav__middle .middle__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  .nav__middle .middle__content .nav__btn .btn__menu {
    display: flex;
  }
  .nav__middle .middle__content .logo a {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 10px;
    text-decoration: none;
  }
  .nav__middle .middle__content .logo a h2 {
    color: #3bb77e;
    font-weight: 600;
    margin: 0;
  }
  .nav__middle .middle__content .logo a p {
    font-size: 10px;
    color: black;
    font-weight: 400;
  }
  .nav__middle .middle__content .search {
    display: none;
    width: 40%;
    margin-inline: 10px;
  }
  .nav__middle .middle__content .search .search__box {
    padding: 14px;
    font-size: 12px;
    width: 90%;
    border: 1px solid #3bb77e;
    border-radius: 5px;
  }
  .nav__middle .middle__content .search .search__btn {
    display: none;
    position: absolute;
    width: 5%;
    margin-left: -5.2%;
    margin-top: 2px;
    border: 0;
    background-color: #3bb77e;
    color: white;
    border-radius: 5px;
    padding: 11px;
  }
  .nav__middle .middle__content .vendor {
    display: none;
    background-color: white;
    color: #3bb77e;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    font-size: 8px;
  }
  .nav__middle .middle__content .vendor:hover {
    transform: translateY(-10%);
  }
  .nav__middle .middle__content .nav__icons {
    display: none;
    font-size: 8px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7e7e7e;
  }
  .nav__middle .middle__content .nav__icons .icon {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  .nav__middle .middle__content .nav__icons .icon i {
    font-size: 10px;
    color: black;
  }
  .nav__middle .middle__content .nav__icons .icon span {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #3bb77e;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    transform: translate(80%, -60%);
  }
  .nav__bottom {
    display: none;
    width: -moz-max-content;
    width: max-content;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 55%;
    float: right;
    border-radius: 5px;
  }
  .nav__bottom .bottom__content ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    font-size: 12px;
    line-height: 20px;
  }
  .nav__bottom .bottom__content ul .categores {
    padding: 5px;
    margin-bottom: 10px;
  }
  .nav__bottom .bottom__content ul .hot__deals a {
    gap: 2.5px;
  }
  .nav__bottom .bottom__content ul .hot__deals a i {
    font-size: 14px;
  }
  .nav__bottom .bottom__content ul .phone {
    display: flex;
    gap: 2.5px;
    align-items: center;
    font-size: 12px;
    margin-top: 15px;
  }
  .nav__bottom .bottom__content ul .phone .phone__icon {
    font-size: 14px;
  }
  .nav__bottom .bottom__content ul .phone .phone__text {
    line-height: 7px;
    font-size: 10px;
  }
  .nav__bottom .bottom__content ul .phone .phone__text h2 {
    margin: 0;
  }
  .nav__bottom .bottom__content ul .phone .phone__text p {
    font-size: 8px;
  }
  .header__heading {
    padding: 10px;
  }
  .header__heading .heading__content h1 {
    width: 100%;
    font-size: 46px;
  }
  .header__heading .heading__content p {
    font-size: 14px;
  }
  .header__heading .heading__content span {
    font-size: 14px;
  }
  .header__heading .heading__content input {
    width: 75%;
    padding: 10px;
    font-size: 14px;
  }
  .header__heading .heading__content button {
    width: -moz-max-content;
    width: max-content;
    padding: 10px;
  }
  .header__heading .heading__content ul li {
    font-size: 10px;
  }
  .trending__content {
    margin-block: 25px;
  }
  .trending__content h2 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .deales__of__day {
    margin-block: 50px;
  }
  .deales__of__day.deals__of__day__title h2 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
  }
  .productes .grid-container {
    grid-gap: 50px;
  }
  .productes .grid-container .grid-item .item__tittle h2 {
    font-size: 18px;
  }
}
.subscribe__mail .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.subscribe__mail .grid-item {
  padding: 10px;
  margin-block: 10px;
}
.subscribe__mail .grid-item .subscribe__content h2 {
  font-size: 18px;
  margin-bottom: 15px;
  width: 100%;
}
.subscribe__mail .grid-item .subscribe__content p {
  font-size: 12px;
  margin-bottom: 10px;
}
.subscribe__mail .grid-item .subscribe__content span {
  font-size: 12px;
}
.subscribe__mail .grid-item .subscribe__content input {
  width: 75%;
  padding: 10px;
  border-radius: 50px;
  font-size: 12px;
  margin-bottom: 50px;
}
.subscribe__mail .grid-item .subscribe__content button {
  width: -moz-max-content;
  width: max-content;
  font-size: 12px;
  padding: 10px;
}
.subscribe__mail .grid-item .subscribe__content .content__img {
  width: 40%;
  right: 10px;
}

.footer__links {
  margin-block: 50px;
}
.footer__links .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.footer__links .grid-container .grid-item {
  font-size: 22px;
}
.footer__links .grid-container .grid-item h4 {
  font-size: 18px;
}
.footer__links .grid-container .grid-item ul {
  line-height: 20px;
}
.footer__links .grid-container .grid-item ul li a {
  font-size: 12px;
  font-weight: 500;
}
.footer__links .logo {
  line-height: 22px;
}
.footer__links .logo i {
  font-size: 14px;
}
.footer__links .logo p {
  font-size: 12px;
}
.footer__links .logo a p {
  font-size: 10px;
}
.footer__links .app {
  line-height: 16px;
}
.footer__links .app p {
  font-size: 12px;
}
.footer__links .app .store a img {
  height: 20px;
  width: 75px;
}
.footer__links .app span {
  font-size: 12px;
}

.footer__numbers {
  padding-block: 10px;
}
.footer__numbers .numbers__content {
  display: block;
  text-align: center;
  line-height: 25px;
}
.footer__numbers .numbers__content .footer__text {
  font-size: 12px;
  line-height: 15px;
}
.footer__numbers .numbers__content .footer__number {
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
}
.footer__numbers .numbers__content .footer__number .num {
  gap: 5px;
}
.footer__numbers .numbers__content .footer__number .num i {
  font-size: 12px;
}
.footer__numbers .numbers__content .footer__number .num p {
  font-size: 8px;
  line-height: 10px;
}
.footer__numbers .numbers__content .footer__number .num p span {
  font-size: 12px;
  font-weight: 600;
}
.footer__numbers .numbers__content .footer__follow {
  font-size: 12px;
  line-height: 5px;
}
.footer__numbers .numbers__content .footer__follow p i {
  font-size: 12px;
  margin-inline: 2px;
}
.footer__numbers .numbers__content .footer__follow span {
  font-size: 10px;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav__bottom {
    background-color: #3bb77e;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 999999;
  }
  .nav__bottom a {
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .nav__bottom span {
    color: white;
  }
  .nav__bottom .dropdown-content {
    background-color: #3bb77e;
  }
  .nav__bottom .dropdown-content.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid black;
  }
  .nav__bottom .dropdown-content.flex-container .flex-item {
    flex-basis: calc(50% - 10px);
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  .nav__bottom .dropdown-content p a:hover {
    color: #7e7e7e;
  }
  .nav__bottom .bottom__content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__bottom .bottom__content ul .categores {
    background-color: #fdc040;
    padding: 10px;
    border-radius: 5px;
  }
  .nav__bottom .bottom__content ul .hot__deals a {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .nav__bottom .bottom__content ul .hot__deals a i {
    font-size: 22px;
  }
  .nav__bottom .bottom__content ul .phone {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .nav__bottom .bottom__content ul .phone .phone__icon {
    font-size: 32px;
  }
  .nav__bottom .bottom__content ul .phone .phone__text {
    line-height: 10px;
  }
  .nav__bottom .bottom__content ul .phone .phone__text h2 {
    margin: 0;
  }
  .nav__bottom .bottom__content ul .phone .phone__text p {
    font-size: 12px;
  }
}/*# sourceMappingURL=media.css.map */