body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #7e7e7e;
}

a:hover {
  color: black;
}

button {
  cursor: pointer;
}

button,
input {
  outline: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.to__down {
  color: #7e7e7e;
  font-size: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid rgba(238, 238, 238, 0.6784313725);
  padding: 10px 12px;
  line-height: 30px;
  z-index: 1;
  color: #7e7e7e;
  width: -moz-max-content;
  width: max-content;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav__top {
  height: 25px;
  padding: 0px;
  margin: 0px;
}
.nav__top .nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__top .nav__content .nav__links ul {
  display: flex;
  gap: 10px;
  color: #7e7e7e;
}
.nav__top .nav__content .nav__links ul a {
  color: #7e7e7e;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.nav__top .nav__content .nav__links ul a:hover {
  color: black;
  text-decoration: none;
}
.nav__top .nav__content .nav__offer {
  text-align: center;
}
.nav__top .nav__content .nav__offer a {
  color: #3bb77e;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  font-weight: 600;
}
.nav__top .nav__content .nav__offer a:hover {
  color: #cc2255;
  text-decoration: none;
}
.nav__top .nav__content .nav__lang ul {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #7e7e7e;
}
.nav__top .nav__content .nav__lang ul li {
  cursor: pointer;
}
.nav__top .nav__content .nav__lang ul p a {
  color: #3bb77e;
}
.nav__top .nav__content .nav__lang ul p a:hover {
  text-decoration: none;
}
.nav__top .nav__content .nav__lang ul .lang a {
  color: #7e7e7e;
  text-decoration: none;
}
.nav__top .nav__content .nav__lang ul .pound a {
  color: #7e7e7e;
  text-decoration: none;
}

.nav__middle .middle__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
.nav__middle .middle__content .logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 10px;
  text-decoration: none;
}
.nav__middle .middle__content .logo a h2 {
  color: #3bb77e;
  font-weight: 800;
  margin: 0;
}
.nav__middle .middle__content .logo a p {
  font-size: 10px;
  color: black;
  font-weight: 400;
}
.nav__middle .middle__content .search {
  width: 40%;
  margin-inline: 20px;
}
.nav__middle .middle__content .search .search__box {
  padding: 14px;
  font-size: 12px;
  width: 90%;
  border: 1px solid #3bb77e;
  border-radius: 5px;
}
.nav__middle .middle__content .search .search__btn {
  position: absolute;
  width: 5%;
  margin-left: -5.2%;
  margin-top: 2px;
  border: 0;
  background-color: #3bb77e;
  color: white;
  border-radius: 5px;
  padding: 11px;
}
.nav__middle .middle__content .vendor {
  background-color: white;
  color: #3bb77e;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  font-size: 14px;
}
.nav__middle .middle__content .vendor:hover {
  transform: translateY(-10%);
}
.nav__middle .middle__content .nav__icons {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7e7e7e;
}
.nav__middle .middle__content .nav__icons .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav__middle .middle__content .nav__icons .icon i {
  font-size: 22px;
  color: black;
}
.nav__middle .middle__content .nav__icons .icon span {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #3bb77e;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  transform: translate(80%, -60%);
}

.nav__bottom {
  background-color: #3bb77e;
  color: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 999999;
}
.nav__bottom a {
  color: white;
  transition: all 0.3s ease-in-out;
}
.nav__bottom span {
  color: white;
}
.nav__bottom .dropdown-content {
  background-color: #3bb77e;
}
.nav__bottom .dropdown-content.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 1px solid black;
}
.nav__bottom .dropdown-content.flex-container .flex-item {
  flex-basis: calc(50% - 10px);
  background-color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.nav__bottom .dropdown-content p a:hover {
  color: #7e7e7e;
}
.nav__bottom .bottom__content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__bottom .bottom__content ul .categores {
  background-color: #fdc040;
  padding: 10px;
  border-radius: 5px;
}
.nav__bottom .bottom__content ul .hot__deals a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav__bottom .bottom__content ul .hot__deals a i {
  font-size: 22px;
}
.nav__bottom .bottom__content ul .phone {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav__bottom .bottom__content ul .phone .phone__icon {
  font-size: 32px;
}
.nav__bottom .bottom__content ul .phone .phone__text {
  line-height: 10px;
}
.nav__bottom .bottom__content ul .phone .phone__text h2 {
  margin: 0;
}
.nav__bottom .bottom__content ul .phone .phone__text p {
  font-size: 12px;
}

.header__heading {
  background-image: url(../img/home-6-bg-min-scaled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
}
.header__heading .heading__content h1 {
  width: 75%;
  margin: 0 auto;
  font-size: 72px;
  color: #253d4e;
  margin-bottom: 25px;
}
.header__heading .heading__content p {
  font-size: 18px;
  color: #7e7e7e;
  margin-bottom: 25px;
}
.header__heading .heading__content span {
  font-size: 18px;
  color: #3bb77e;
}
.header__heading .heading__content input {
  width: 25%;
  padding: 20px;
  background-color: white;
  border-radius: 50px;
  border: 0;
  box-shadow: -50px 8px 50px 0px rgba(44, 44, 44, 0.2);
  margin-bottom: 25px;
}
.header__heading .heading__content button {
  width: 7%;
  padding: 20px;
  background-color: #3bb77e;
  color: white;
  border: 0;
  border-radius: 50px;
  position: absolute;
  transform: translateX(-100%);
}
.header__heading .heading__content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header__heading .heading__content ul li {
  font-size: 14px;
}
.header__heading .heading__content ul li a {
  display: block;
  color: black;
  transition: all 0.3s ease-in-out;
}
.header__heading .heading__content ul li a:hover {
  color: #3bb77e;
  transform: translateY(-5px);
}

.trending__content {
  margin-block: 50px;
}
.trending__content h2 {
  text-align: center;
  font-size: 30px;
  color: #253d4e;
  padding-bottom: 20px;
}
.trending__content .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  padding: 10px;
}
.trending__content .grid-item {
  border-radius: 20px;
  border: 1px solid rgba(161, 161, 161, 0.5176470588);
  transition: all 0.3s ease-in-out;
}
.trending__content .grid-item:hover {
  border: 1px solid #3bb77e;
  box-shadow: -15px 20px 50px -5px rgba(44, 44, 44, 0.2);
}
.trending__content .card {
  padding: 25px;
  line-height: 25px;
  position: relative;
}
.trending__content .card .card__img {
  position: relative;
}
.trending__content .card .card__img img {
  width: 100%;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.trending__content .card .card__img .img__hov {
  position: absolute;
  top: calc(50% - 16.5px);
  left: calc(50% - 42.5px);
  background-color: white;
  padding: 2.5px 5px;
  border-radius: 5px;
  border: 1px solid #3bb77e;
  opacity: 0;
  z-index: 999;
  transition: opacity 300ms ease-in-out;
}
.trending__content .card .card__img .img__hov ul {
  display: flex;
  gap: 5px;
}
.trending__content .card .card__img .img__hov ul li a {
  font-size: 14px;
  color: #3bb77e;
  transition: color 0.3s ease-in-out;
}
.trending__content .card .card__img .img__hov ul .veiw a:hover {
  color: #d3d31b;
}
.trending__content .card .card__test--active {
  position: relative;
  z-index: 2;
}
.trending__content .card .card__test:not(.card__test--active) {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.trending__content .card .card__img:hover .img__hov {
  opacity: 1;
}
.trending__content .card h6 {
  padding-top: 10px;
}
.trending__content .card h6 a {
  font-size: 12px;
  color: #adadad;
  transition: color 0.3s ease-in-out;
}
.trending__content .card h6 a:hover {
  color: #3bb77e;
}
.trending__content .card h4 {
  line-height: 15px;
  margin-bottom: 5px;
}
.trending__content .card h4 a {
  font-size: 16px;
  color: #253d4e;
  transition: color 0.3s ease-in-out;
}
.trending__content .card h4 a:hover {
  color: #3bb77e;
}
.trending__content .card .rate {
  color: #b6b6b6;
  font-size: 12px;
}
.trending__content .card .rate .gold {
  color: #fdc040;
}
.trending__content .card p {
  font-size: 14px;
  color: #b6b6b6;
}
.trending__content .card p span {
  color: #3bb77e;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.trending__content .card p span:hover {
  color: #cc2255;
}
.trending__content .card .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trending__content .card .price p {
  color: #3bb77e;
  font-size: 18px;
  font-weight: 800;
}
.trending__content .card .price p del {
  color: #adadad;
  font-size: 14px;
  font-weight: 400;
}
.trending__content .card .price button {
  border: 0;
  border-radius: 5px;
  padding: 6px 12px;
  color: #29a56c;
  background-color: #def9ec;
  transition: all 0.5s ease-in-out;
}
.trending__content .card .price button:hover {
  transform: translateY(-5px);
}
.trending__content .card .descound {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 15px;
  background-color: #29a56c;
  border-radius: 19px 0px 20px 0px;
  z-index: 9;
}
.trending__content .card .descound p {
  color: white;
  font-size: 12px;
}
.trending__content .card .sale {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 15px;
  background-color: #29a56c;
  border-radius: 0px 19px 0px 20px;
  z-index: 99;
}
.trending__content .card .sale p {
  color: white;
  font-size: 12px;
}
.trending__content .card:hover .card__test:not(.card__test--active) {
  z-index: 3;
  opacity: 1;
  transform: scale(1.1);
}

.grid-item:nth-child(2) .descound {
  background-color: #67bcee;
}

.deales__of__day {
  margin-block: 50px;
}
.deales__of__day.deals__of__day__title h2 {
  text-align: center;
  font-size: 30px;
  color: #253d4e;
  padding-bottom: 20px;
}
.deales__of__day .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.deales__of__day .grid-item {
  border-radius: 20px;
}
.deales__of__day .grid-item .card {
  position: relative;
}
.deales__of__day .grid-item .card__img img {
  border-radius: 20px;
}
.deales__of__day .grid-item .card__text {
  position: relative;
  padding: 25px;
  line-height: 25px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
  margin-top: -60px;
  box-shadow: -15px 20px 50px -5px rgba(44, 44, 44, 0.2);
}
.deales__of__day .grid-item .card__text h4 {
  line-height: 20px;
  margin-bottom: 5px;
}
.deales__of__day .grid-item .card__text h4 a {
  font-size: 16px;
  color: #253d4e;
  transition: color 0.3s ease-in-out;
}
.deales__of__day .grid-item .card__text h4 a:hover {
  color: #3bb77e;
}
.deales__of__day .grid-item .card__text p {
  font-size: 14px;
  color: #b6b6b6;
}
.deales__of__day .grid-item .card__text p span {
  color: #3bb77e;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.deales__of__day .grid-item .card__text p span:hover {
  color: #cc2255;
}
.deales__of__day .grid-item .card .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deales__of__day .grid-item .card .price p {
  color: #3bb77e;
  font-size: 18px;
  font-weight: 800;
}
.deales__of__day .grid-item .card .price p del {
  color: #adadad;
  font-size: 14px;
  font-weight: 400;
}
.deales__of__day .grid-item .card .price button {
  border: 0;
  border-radius: 5px;
  padding: 6px 12px;
  color: #29a56c;
  background-color: #def9ec;
  transition: all 0.5s ease-in-out;
}
.deales__of__day .grid-item .card .price button:hover {
  transform: translateY(-5px);
}
.deales__of__day .grid-item .card:hover .card__text {
  transform: translateY(-10%);
}

.productes {
  margin-block: 50px;
}
.productes .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
}
.productes .grid-container .grid-item .item__tittle {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 15px;
}
.productes .grid-container .grid-item .item__tittle h2 {
  font-size: 22px;
  color: #253d4e;
  padding-bottom: 15px;
}
.productes .grid-container .grid-item .item__product {
  transition: all 0.3s ease-in-out;
}
.productes .grid-container .grid-item .item__product a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productes .grid-container .grid-item .item__product a .product__img {
  width: 120px;
  height: 120px;
}
.productes .grid-container .grid-item .item__product a .product__img img {
  width: 100%;
}
.productes .grid-container .grid-item .item__product a .product__details {
  line-height: 25px;
}
.productes .grid-container .grid-item .item__product a .product__details .product__name h4 {
  width: 80%;
  font-size: 14px;
  color: #253d4e;
  line-height: 15px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.productes .grid-container .grid-item .item__product a .product__details .product__name h4:hover {
  color: #3bb77e;
}
.productes .grid-container .grid-item .item__product a .product__details .product__rate {
  color: #b6b6b6;
  font-size: 10px;
}
.productes .grid-container .grid-item .item__product a .product__details .product__rate .gold {
  color: #fdc040;
}
.productes .grid-container .grid-item .item__product a .product__details .product__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productes .grid-container .grid-item .item__product a .product__details .product__price p {
  color: #3bb77e;
  font-size: 16px;
  font-weight: 800;
}
.productes .grid-container .grid-item .item__product a .product__details .product__price p del {
  color: #adadad;
  font-size: 14px;
  font-weight: 400;
}
.productes .grid-container .grid-item .item__product:hover {
  transform: translateY(-5%);
}

.subscribe__mail .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
}
.subscribe__mail .grid-item {
  background: url(../img/banner-10-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  position: relative;
  border-radius: 25px;
  margin-block: 50px;
}
.subscribe__mail .grid-item .subscribe__content h2 {
  font-size: 65px;
  color: #253d4e;
  margin-bottom: 15px;
  width: 65%;
}
.subscribe__mail .grid-item .subscribe__content p {
  font-size: 16px;
  color: #7e7e7e;
  margin-bottom: 40px;
}
.subscribe__mail .grid-item .subscribe__content span {
  font-size: 18px;
  color: #3bb77e;
}
.subscribe__mail .grid-item .subscribe__content input {
  width: 25%;
  padding: 20px;
  background-color: white;
  border-radius: 50px;
  border: 0;
  box-shadow: -50px 8px 50px 0px rgba(44, 44, 44, 0.2);
  margin-bottom: 25px;
}
.subscribe__mail .grid-item .subscribe__content button {
  width: 7%;
  padding: 20px;
  background-color: #3bb77e;
  color: white;
  border: 0;
  border-radius: 50px;
  position: absolute;
  transform: translateX(-100%);
}
.subscribe__mail .grid-item .subscribe__content .content__img {
  width: 40%;
  position: absolute;
  right: 25px;
  bottom: 0;
}

.our__service {
  margin-block: 50px;
}
.our__service .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
}
.our__service .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background: #f4f6fa;
  padding: 15px;
  border-radius: 10px;
}
.our__service .grid-item .item__icon {
  transition: all 0.3s ease-in-out;
}
.our__service .grid-item .item__icon img {
  width: 50px;
  height: 50px;
}
.our__service .grid-item .item__text h4 a {
  font-size: 16px;
  margin-bottom: 5px;
  color: #242424;
  transition: color 0.3s ease-in-out;
}
.our__service .grid-item .item__text h4 a:hover {
  color: #3bb77e;
}
.our__service .grid-item .item__text p {
  font-size: 14px;
  color: #adadad;
}
.our__service .grid-item:hover .item__icon {
  transform: translateY(-10%);
}

.footer__links {
  margin-block: 50px;
}
.footer__links .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  gap: 40px;
}
.footer__links .grid-container .grid-item {
  background-color: #ffffff;
  font-size: 30px;
  text-align: left;
}
.footer__links .grid-container .grid-item h4 {
  font-size: 22px;
  color: #253d4e;
  font-weight: 700;
}
.footer__links .grid-container .grid-item ul {
  line-height: 28px;
}
.footer__links .grid-container .grid-item ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #253d4e;
  transition: color 0.3s ease-in-out;
}
.footer__links .grid-container .grid-item ul li a:hover {
  color: #3bb77e;
}
.footer__links .logo {
  line-height: 30px;
}
.footer__links .logo i {
  color: #3bb77e;
  font-size: 18px;
}
.footer__links .logo p {
  font-size: 16px;
  display: inline;
}
.footer__links .logo p i {
  display: inline;
}
.footer__links .logo p a {
  color: #3bb77e;
  display: inline;
  transition: color 0.3s ease-in-out;
}
.footer__links .logo p a:hover {
  color: #cc2255;
}
.footer__links .logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 10px;
  text-decoration: none;
}
.footer__links .logo a h2 {
  color: #3bb77e;
  font-weight: 800;
}
.footer__links .logo a p {
  font-size: 10px;
  color: black;
  font-weight: 400;
  margin-block: 20px;
}
.footer__links .logo .logo__header {
  display: block;
  line-height: 20px;
  margin-block: 15px;
}
.footer__links .logo .address {
  line-height: 15px;
}
.footer__links .app {
  line-height: 30px;
}
.footer__links .app p {
  font-size: 16px;
  color: #7e7e7e;
  margin-block: 10px;
}
.footer__links .app .store {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
}
.footer__links .app .store a {
  transition: all 0.3s ease-in-out;
}
.footer__links .app .store a img {
  height: 40px;
  width: 125px;
}
.footer__links .app .store a:hover {
  transform: translateY(-10%);
}
.footer__links .app span {
  font-size: 16px;
  color: #253d4e;
  margin-block: 10px;
}
.footer__links .app .payment {
  margin-block: 10px;
}
.footer__links .app .payment a img {
  transition: all 0.3s ease-in-out;
}
.footer__links .app .payment a:hover img {
  transform: translateY(-10%);
}

.footer__numbers {
  padding-block: 25px;
  border-top: 1px solid #3bb77e;
}
.footer__numbers .numbers__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__numbers .numbers__content .footer__text {
  font-size: 16px;
  line-height: 20px;
  color: #7e7e7e;
}
.footer__numbers .numbers__content .footer__number {
  display: flex;
  align-items: center;
  gap: 35px;
}
.footer__numbers .numbers__content .footer__number .num {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #7e7e7e;
}
.footer__numbers .numbers__content .footer__number .num i {
  color: #3bb77e;
  font-size: 22px;
}
.footer__numbers .numbers__content .footer__number .num p {
  font-size: 12px;
  line-height: 15px;
}
.footer__numbers .numbers__content .footer__number .num p span {
  color: #3bb77e;
  font-size: 22px;
  font-weight: 600;
}
.footer__numbers .numbers__content .footer__follow {
  font-size: 16px;
  line-height: 15px;
}
.footer__numbers .numbers__content .footer__follow p {
  color: #253d4e;
  font-weight: 700;
}
.footer__numbers .numbers__content .footer__follow p i {
  color: #3bb77e;
  margin-inline: 5px;
  font-size: 22px;
}
.footer__numbers .numbers__content .footer__follow span {
  font-size: 16px;
  color: #7e7e7e;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #3bb77e;
  border-radius: 50px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */